<h1> Post a dope track </h1>

<% if @track.errors.any? %>
<div>
  <strong> Some issues with your track post, please fix them: </strong>
  <ul>
    <% @track.errors.full_messages.each do |track| %>
      <li><%= track %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form method="post" action="/create_new_track">
  <div>
    <label> Artist: </label>
    <input type="text" name="artist" value="<%= @track.artist %>">
  </div>
  <div>
    <label>Title: </label>
    <input type="text" name="title" value="<%= @track.title %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>